.select-editable {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    border: 0px solid #cccccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 0;
}

.select-editable select {
    outline: 0;
    padding-left: 0px;
    border: none;
    width: 100%;
    height: 35px;
}

.select-editable input {
    outline: 0;
    position: relative;
    top: -34px;
    margin-left: 0px;
    padding: 6px 12px;
    width: 97.8%;
    height: 33px;
    border: none;
    text-transform: uppercase;
}

.select-editable select:focus {
    outline: 0;
    border: 0px solid #66afe9;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0.6);
}

.select-editable input:focus {
    outline: 0;
}

.select-editable-input-focus {
    outline: 0;
    border: 0px solid #66afe9 !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0.6);
}


/*select-edit*/

.select-edit {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    border: 0px solid #cccccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 0;
}

.select-edit select {
    outline: 0;
    padding-left: 0px;
    border: none;
    width: 100%;
    height: 35px;
}

.select-edit input {
    outline: 0;
    position: relative;
    top: -34px;
    margin-left: 0px;
    padding: 6px 12px;
    width: 96%;
    height: 33px;
    border: none;
    text-transform: uppercase;
}

.select-edit select:focus {
    outline: 0;
    border: 0px solid #66afe9;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0.6);
}

.select-edit input:focus {
    outline: 0;
}

.select-edit-input-focus {
    outline: 0;
    border: 0px solid #66afe9 !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0.6);
}